* {
  font-family: sans-serif;
}
body {
  background-color: white;
  color: black;
  font-family: sans-serif;
  width: 95%;
  margin: 1ex auto;
}
img {
  width: 100%;
}
nav ul {
  background-color: #CCC;
  border: 1px solid black;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: auto;
}
nav ul li {
  padding: 0 0.5em;
}
nav ul li:hover {
  background-color: #999;
  cursor: pointer;
}
footer {
  border-top: 1px solid black;
  clear: both;
  font-size: 80%;
  margin: 0 auto;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  body {
    margin-bottom: 0;
    margin-left: 30%;
    margin-right: 5%;
    margin-top: 0;
    width: 65%;
  }
  img {
    float: right;
    width: 50%;
  }
  nav ul {
    left: 5%;
    position: fixed;
    top: 5%;
    width: 20%;
  }
}
