* {
  font-family: "sans-serif";
}
body {
  width: 80%;
  min-width: 600px;
  margin: 0 10%;
}
img {
  width: 80%;
}
nav ul {
  background-color: #CCC;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: auto;
}
nav ul li {
  display: inline;
  padding: 0 0.5em;
}
nav ul li:last-child {
  border-right: none;
}
nav ul li:hover {
  background-color: #999;
  cursor: pointer;
}
